html, body
{
    margin: 0;
    padding: 0;
    font-family:Arial;
    min-width: 1000px;
}
body{
   background-color:#FFFFFF;
}
/*header*/
#header {
   background-color:#FAFAFA;
   width:100%;
   margin:0;
   padding:0;
   height:125px;
   overflow:hidden;
   position:relative;
   border-bottom: 1px solid #e4e4e4;
}
#logo {
   /*border: 3px solid #73AD21;*/
   margin:0;
   padding:0;
   position:absolute;
   top:26px;
   left:13px;
   width:123px;
   height:42px;
   background-image: url("https://www.google.ca/images/branding/googlelogo/2x/googlelogo_color_120x44dp.png");
   background-size: contain;
   background-repeat: no-repeat;
   
}
#search {
   top:20px;
   left:150px;
   border: 1px solid #E1E1E1;
   width:633px;
   height:46px;
   position:relative;
   border-radius: 3px;
   background-color:#FFFFFF;
   box-shadow: 0 4px 2px -2px #E0E0E0;
   transition: all 0.3s ease-in-out;
   
}
#search:hover {
   box-shadow: 0 3px 6px #d1d1d1;
   transition: box-shadow 0.3s ease-in-out;
}
#topnav {
   width:638px;
   font-family:Arial;
   font-size:13px;
   position:relative;
   top:25px;
   left:150px;
   clear:both;
}
#topnav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
#topnav li {
   float: left;
}
#topnav li a {
   display:block;
   padding:18px 16px;
   padding-bottom:-10px;
   text-decoration:none;
   color:#777B7F;
}
input[type="text"]
{
    background: transparent;
    border: none;
    outline: none;
    width:513px;
    height:24px;
    position:relative;
    left:18px;
    top:9px;
    font-size:16px;
}
#topnav .active {
   font-weight:bold;
   color:#4285F4;
   background-image:url(https://puu.sh/tabbI/55a49cb743.png);
   background-repeat:no-repeat;
   background-size:contain;
   background-position:bottom;
}
#topnav li a:hover:not(.active) {
   color: #474747;
}
#signin {
   background-image:url(https://puu.sh/tarP6/cc0e160349.png);
   background-size:contain;
   width:18px;
   height:18px;
   float:right;
   position:relative;
   top:-65px;
   right:52px;
   cursor:pointer;

}
#dotthing {
   width:73px;
   height:32px;
   float:right;
   background-color:#4386FB;
   border-radius:3px;
   top:-74px;
   right:30px;
   position:relative;
   color:white;
   text-align:center;
   vertical-align:middle;
   cursor:pointer;
   font-style:bold;
   font-size:13px;
   line-height: 32px;
}


/*main body*/
#search-results {
   width:600px;
   height:1269px;
}
#item {
   position:relative;
   left:100px;
}
#results {
   width:255px;
   height: 33px;
   left:165px;
   position:absolute;
   font-size:12px;
   color:#808FAB;
}
#search-results {
  position:absolute;
  padding-top:50px;
  left:150px;
  width: 600px;
}
#search-related
{
  margin-top: 40px;
  margin-bottom: 20px;
}
#relate {
   position:absolute;
   top:1150px;
   left:150px;
}
#related-searches {
   text-decoration:none;
}
.rel_col
{
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  max-width: 100%;
  line-height: 20px;
  box-sizing: border-box;
}

.rel_col a
{
  display: block;
  padding: 3px 32px 3px 0;
  color: #1a0dab;
}

#h3-search-related
{
  color: #222;
  font-size: 18px;
  line-height: 18px;
  font-weight: normal;
}

.result {
  display: block;
  margin-bottom: 26px;
}
.link {
  display: block;
  margin: 0;
  font-size: 18px;
  line-height: 1.2;
  font-weight: normal;
}
.link a {
  color: #1a0dab;
}
.path {
  display: inline;
  vertical-align: middle;
  font-size: 14px;
  color: #006621;
  font-style: normal;
}
.span_action_menu {
  display: inline-block;
  /*background: url(media/action_menu_alpha.png) no-repeat 0 0;*/
  background-size: 8px 6px;
  width: 13px;
  height: 9px;
  margin-left: 3px;
}
.text_content {
  font-family: 'Roboto', arial, sans-serif;
  font-size: 13px;
  color: #545454;
  line-height: 1.4;
}
em {
  color: #6a6a6a;
  font-weight: bold;
  font-style: normal;
}
.link-logo a {
   display : block;
	height :42px;
	position:relative;
	top:-20px;
	left:-5px;
	text-indent:-9999px;
}
.myButton input {
    background:url(https://i.imgur.com/EpEOYFT.png) no-repeat;
    cursor:pointer;
    width: 23px;
    height: 23px;
    border: none;
    top:11px;
    left:593px;
    position:absolute;
    background-size:contain;
    outline: none;
}
.micro {
   
   background:url(https://i.imgur.com/AWzNZfA.png) no-repeat;
   cursor:pointer;
   width:21px;
   height:28px;
   background-size:contain;
   left: 558px;
   top:8px;
   position:absolute;
}
input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px white inset;
}